.home-info-container {
    display: block !important;
}

.homeinfo{
    position: relative;
    top: 140px;
}
.home-animi{
    padding-top: 50px;
    height: 400px;
    width: 500px;
}

.whole-bg{

    height: 100vw;
}