.chatbot-container {
  
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chatbot-icon {
  background-color: #6a2d7f;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.chatbot-icon:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.chatbot-icon.open {
  display: none;
}

.icon-img {
  width: 30px;
  height: 30px;
}

.chatbot-window {
  width: 320px;
  height: 450px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chatbot-header {
  height: 50px;
  color: white;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align:right;
  position: relative;
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.conversation {
  padding: 20px;
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.conversation::-webkit-scrollbar {
  display: none;
}

.message-row {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.message-row.user {
  justify-content: flex-end;
}

.avatar {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 50%;
  background-color: #f1f3f5;
}

.avatar.bot {
  background-color: #e0f7fa;
}

.avatar.user {
  background-color: #ffccbc;
}

.message {
  background-color: #f1f3f5;
  padding: 10px;
  border-radius: 15px;
  max-width: 70%;
  font-size: 14px;
  line-height: 1.4;
}

.message.user {
  background-color: #e6e6e6;
}

.typing-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  width: 6px;
  height: 6px;
  margin-right: 2px;
  background-color: #555;
  border-radius: 50%;
  animation: dot-flashing 1s infinite linear alternate;
}

.chat-btn {
  background-color: #ba63e2;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin: 5px;
}

.chat-btn:hover {
  background-color: #0056b3;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.chat-btn:active {
  background-color: #004085;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.chat-btn:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}


@keyframes dot-flashing {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50%,
  100% {
    opacity: 0.3;
    transform: translateY(3px);
  }
}

.input-area {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
  background-color: #fafafa;
}

.input-area input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
}

.input-area button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}
