body {
  background-color: #F7FAFF;
  margin: 0;
  padding: 0;
  overflow: auto;
  scrollbar-width: 0px;
 
  background-image: url("./assets/triangle.svg");
  
}
body::-webkit-scrollbar {
  display: none;  
}